USE [VinhCinema]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[IdentityCard] [nvarchar](50) NOT NULL,
	[UniqueKey] [uniqueidentifier] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Mobile] [nvarchar](10) NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Error]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Error] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genre]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movie]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[GenreID] [int] NOT NULL,
	[Director] [nvarchar](100) NOT NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[Producer] [nvarchar](50) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[TrailerURI] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Movie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rental]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[StockID] [int] NOT NULL,
	[RentalDate] [datetime] NOT NULL,
	[ReturnedDate] [datetime] NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Rental] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stock]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[UniqueKey] [uniqueidentifier] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Stock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[HashedPassword] [nvarchar](200) NOT NULL,
	[Salt] [nvarchar](200) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 9/20/2016 11:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (1, N'William', N'Funk', N'hailey.aufderhar@alexane.uk', N'a125c03a-ee0c-43fd-b35e-cfa0fe9ce8cd', N'e8ba29bb-06cd-4d84-bd55-cddddd3fd21f', CAST(N'1985-10-30 00:00:00.000' AS DateTime), N'1234567890', CAST(N'2016-09-04 12:20:12.050' AS DateTime))
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (2, N'Bonnie', N'Russel', N'maybell@blandalarkin.com', N'4868c616-43b8-4334-ad6b-b28952d8310c', N'a0b4ffca-f9bd-4005-bfad-ffcd10b62124', CAST(N'1985-11-30 00:00:00.000' AS DateTime), N'1234567890', CAST(N'2016-09-05 12:20:12.053' AS DateTime))
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (3, N'Meagan', N'Orn', N'fabiola@jaskolski.com', N'1edc5af5-ebd8-4af1-b9eb-44c069f30fec', N'4dcd1cc9-957e-42f3-b792-abcc6833eb1c', CAST(N'1985-12-30 00:00:00.000' AS DateTime), N'1234567890', CAST(N'2016-09-06 12:20:12.053' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Error] ON 

INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (1, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Movie, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.MovieViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 35
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 12:32:54.813' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (2, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Movie, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.MovieViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 35
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 12:34:14.270' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (3, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Movie, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.MovieViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 35
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 12:40:34.287' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (4, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Movie, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.MovieViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 35
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 12:41:07.700' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (5, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 35
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 12:56:29.060' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (6, N'Object reference not set to an instance of an object.', N'   at AutoMapper.QueryableExtensions.Extensions.ProjectTo[TDestination](IQueryable source, IConfigurationProvider configuration, Object parameters, Expression`1[] membersToExpand)
   at AutoMapper.QueryableExtensions.Extensions.ProjectTo[TDestination](IQueryable source, IConfigurationProvider configuration, Expression`1[] membersToExpand)
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass3_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 37
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 13:30:34.493' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (7, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Genre, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.GenreViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.GenresController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\GenresController.cs:line 35
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 23:32:46.163' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (8, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Movie, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.MovieViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 37
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 23:32:46.163' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (9, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Genre, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.GenreViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.GenresController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\GenresController.cs:line 35
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 23:33:16.457' AS DateTime))
INSERT [dbo].[Error] ([ID], [Message], [StackTrace], [DateCreated]) VALUES (10, N'Error mapping types.

Mapping types:
IEnumerable`1 -> IEnumerable`1
System.Collections.Generic.IEnumerable`1[[VinhCinema.Entities.Movie, VinhCinema.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] -> System.Collections.Generic.IEnumerable`1[[VinhCinema.Web.Models.MovieViewModel, VinhCinema.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]', N'   at lambda_method(Closure , IEnumerable`1 , IEnumerable`1 , ResolutionContext )
   at VinhCinema.Web.Controllers.MoviesController.<>c__DisplayClass2_0.<Get>b__0() in E:\VinhCinema\VinhCinema.Web\Controllers\MoviesController.cs:line 37
   at VinhCinema.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage request, Func`1 function) in E:\VinhCinema\VinhCinema.Web\Infrastructure\Core\ApiControllerBase.cs:line 30', CAST(N'2016-09-09 23:33:16.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[Error] OFF
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([ID], [Name]) VALUES (1, N'Comedy')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (2, N'Sci-fi')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (3, N'Action')
SET IDENTITY_INSERT [dbo].[Genre] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreID], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (1, N'Minions', N'Minions Stuart, Kevin and Bob are recruited by Scarlet Overkill, a super-villain who, alongside her inventor husband Herb, hatches a plot to take over the world.', N'minions.jpg', 1, N'Kyle Bald', N'Brian Lynch', N'Janet Healy', CAST(N'2015-07-10 00:00:00.000' AS DateTime), 3, N'https://www.youtube.com/watch?v=Wfql_DoHRKc')
INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreID], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (2, N'Ted 2', N'Newlywed couple Ted and Tami-Lynn want to have a baby, but in order to qualify to be a parent, Ted will have to prove he''s a person in a court of law.', N'ted2.jpg', 1, N'Seth MacFarlane', N'Seth MacFarlane', N'Jason Clark', CAST(N'2015-06-27 00:00:00.000' AS DateTime), 4, N'https://www.youtube.com/watch?v=S3AVcCggRnU')
INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreID], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (3, N'Trainwreck', N'Having thought that monogamy was never possible, a commitment-phobic career woman may have to face her fears when she meets a good guy.', N'trainwreck.jpg', 2, N'Judd Apatow', N'Amy Schumer', N'Judd Apatow', CAST(N'2015-07-17 00:00:00.000' AS DateTime), 5, N'https://www.youtube.com/watch?v=2MxnhBPoIx4')
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[Rental] ON 

INSERT [dbo].[Rental] ([ID], [CustomerID], [StockID], [RentalDate], [ReturnedDate], [Status]) VALUES (1, 1, 16, CAST(N'2016-09-07 23:22:11.237' AS DateTime), CAST(N'2016-09-07 23:22:54.793' AS DateTime), N'Returned')
SET IDENTITY_INSERT [dbo].[Rental] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (1, 1, N'c2c3b5c2-155b-47d4-b30f-fe03ac00036c', 1)
INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (2, 1, N'215ccbca-b333-4804-b7b5-ffdb985467ba', 1)
INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (3, 1, N'ede3299a-4deb-4694-ae75-9be317d4da1f', 1)
SET IDENTITY_INSERT [dbo].[Stock] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Username], [Email], [HashedPassword], [Salt], [IsLocked], [DateCreated]) VALUES (1, N'VinhCinema', N'quangvinh050293@gmail.com', N'XwAQoiq84p1RUzhAyPfaMDKVgSwnn80NCtsE8dNv3XI=', N'mNKLRbEFCH8y1xIyTXP4qA==', 0, CAST(N'2016-09-04 12:20:12.487' AS DateTime))
INSERT [dbo].[User] ([ID], [Username], [Email], [HashedPassword], [Salt], [IsLocked], [DateCreated]) VALUES (2, N'VinhCinema2', N'quangvinhisc@gmail.com', N'123456', N'123456', 0, CAST(N'2016-09-07 22:37:57.940' AS DateTime))
INSERT [dbo].[User] ([ID], [Username], [Email], [HashedPassword], [Salt], [IsLocked], [DateCreated]) VALUES (3, N'quangvinh050293', N'quangvinh050293@gmail.com', N'XQ0Xy7CcDrrth7Jef4zWiwjQqhz0/DpqLsmUL5eJIrY=', N'B8d0K+/rMjAs8Odt3pl8Xw==', 0, CAST(N'2016-09-10 00:55:06.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [UserId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[UserRole] ([ID], [UserId], [RoleId]) VALUES (2, 3, 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movie_dbo.Genre_GenreID] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_dbo.Movie_dbo.Genre_GenreID]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rental_dbo.Stock_StockID] FOREIGN KEY([StockID])
REFERENCES [dbo].[Stock] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_dbo.Rental_dbo.Stock_StockID]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stock_dbo.Movie_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_dbo.Stock_dbo.Movie_MovieId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO
